<!DOCTYPE html>
<html>
<head>
  <title>Thanks for your order!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
  <!-- header -->
  <nav class="navbar navbar-light bg-dark">
    <a class="navbar" href="/">
      <img src="images/bike-logo.svg" width="50" height="50" class="logo" alt="">
      The Bike Shop Experience
    </a>
    <div id="beta-testing" class="navbar-text justify-content-center">
      <i class="fa-solid fa-triangle-exclamation"></i>
      <span>Beta Testing</span>
    </div>
  </nav>
  <div id="picture-header"></div>
  <div id="success" class="d-flex flex-column align-items-center mt-5">
    <div class="mt-5">Thank you for your order!</div>
    <a class="btn btn-success mt-4" href="/">Home Page</a>
  </div>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>
</html>