body{
  font-family: 'Darker Grotesque', sans-serif;
}

a:hover{
  color: white
}

#picture-header {
  background-image: url('../images/bike-background.jpg');
  background-size: cover;
  background-position: center;
  height: 210px;
  margin-bottom: 20px;
  overflow: hidden;
}

.card {
 margin-bottom: 20px;
}

.basket-img{
  width: 170px;
}

.my-gray {
  background-color: #FAFAFA;
  border: 1px solid darkgray;
}

#checkout {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 40px;
  margin-bottom: 40px;
}

#no-article {
  color: red;
  padding-left: 15px;
}

#success {
  height: 60vh;
}

#beta-testing {
  font-size: 15px;
  color: yellow;
  background: red;
  border: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom-left-radius: 10% 30%;
  border-bottom-right-radius: 10% 30%;
  border-top-left-radius: 10% 30%;
  border-top-right-radius: 10% 30%;
}
