body{
  font-family: 'Darker Grotesque', sans-serif;
}

a:hover{
  color: white
}

#picture-header {
  background-image: url('../images/bike-background.jpg');
  background-size: cover;
  background-position: center;
  height: 210px;
  margin-bottom: 20px;
  overflow: hidden;
}

.card {
 margin-bottom: 20px;
}

.basket-img{
  width: 170px;
}

.my-gray {
  background-color: #FAFAFA;
  border: 1px solid darkgray;
}

#checkout {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 40px;
  margin-bottom: 40px;
}

#no-article {
  color: red;
  padding-left: 15px;
}

#success {
  height: 60vh;
}

#beta-testing {
  font-size: 15px;
  color: yellow;
  background: red;
  border: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom-left-radius: 10% 30%;
  border-bottom-right-radius: 10% 30%;
  border-top-left-radius: 10% 30%;
  border-top-right-radius: 10% 30%;
}

#mea {
  background-color: red;
  padding: 0 20px;
  text-align: center;
  font-size: 35px;
  color: yellow;
  border-bottom-left-radius: 2% 5%;
  border-bottom-right-radius: 2% 5%;
  border-top-left-radius: 2% 5%;
  border-top-right-radius: 2% 5%;
}

#mea .card {
  color: black;
}

#mea .card-text {
  color: green;
}

.shipping {
  padding: 0px;
  height: 100%;
  padding-top: 1%;
}

.switch-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 36px;
  overflow: hidden;
}

.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.switch-field label {
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 1;
  padding: 8px 30px;
  margin-right: -1px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked + label {
  background-color: #a5dc86;
  box-shadow: none;
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}


